
#navbar .logo {
  float: none;
  text-align: center;
}

#navbar ul,
#navbar ul li {
  float: none;
}

#navbar ul li a {
  padding: 5px;
  border-bottom: #444 dotted 1px;
}

/* showcase  */
#showcase {
  height: 100%;
}

#showcase .showcase-content {
  padding-top: 50px;
}


/* home-info */
#home-info {
  height: 350px;
}

#home-info .info-img {
  display: none;
  float: none;
}

#home-info .info-content {
  float: none;
  width: 100%;
  overflow: hidden;

}

#home-info .info-content a {
  margin-bottom: -30px;
}



.box {
  float: none;
  width: 100%;
  padding: 20px;
}


.box i {
  font-size: 40px;
}



#about-info .info-right,
#about-info .info-left {
  float: none;
  width: 100%;
}

#about-info .info-right {
  margin-top: 30px;
}

.l-heading {
  text-align: center;
}

/* contact */
#contact-info .box {
  border-bottom: #444 dotted 1px;
}

#showcase {
  padding-bottom: 20px;
}


#testimonials {
  padding: 0px 50px;
}